@import "../variables";

.app {
	display: flex;
	height: 100vh;
	width: 100vw;
	transition: 0.3s;

	&__sidebar {
		max-width: 450px;
		flex-grow: 1;
		padding: 20px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 3;
		background: url(~assets/img/abb-bg-main.jpg) left top / cover no-repeat;

		overflow-y: auto;
		overflow-x: hidden;
		@include scrollbar(5px, $accent-color);

		.burger {
			position: absolute;
			top: 20px;
			left: 374px;
		}

		.logo {
			margin-bottom: 45px;
		}

		.form {
			flex-grow: 1;
			margin-bottom: 30px;
      overflow: hidden;
      padding-top: 18px;
      margin-top: -18px;
		}

		&--settings-open {
			max-width: 900px;
			padding-right: 470px;
		}
	}

	&__body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		position: absolute;
		width: calc(100vw - 450px);
		height: 100vh;
		z-index: 2;
		left: 450px;
		top: 0;

		&:before {
			content: '';
			background: linear-gradient(180deg, #FFFFFF 30%, rgba(255, 255, 255, 0) 100%);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 150px;
			z-index: 3;
			transition: 0.3s;
		}

		&:after {
			content: '';
			background: linear-gradient(0deg, #FFFFFF 30%, rgba(255, 255, 255, 0) 100%);
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 130px;
			z-index: 3;
			transition: 0.3s;
		}

		.header {
			position: absolute;
			z-index: 5;
			padding: 18px 40px;
			transition: 0.3s;
		}

		.app-map {
			flex-grow: 1;
			z-index: 2;
			transition: 0.3s;
		}

		.static-menu {
			transition: 0.3s;
		}
	}

	&__copyright {
		justify-content: center;
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__settings-side {
		position: absolute;
		left: 450px;
		top: 0;
		bottom: -30px;
		width: 450px;
		padding: 20px;
		//background: rgba(0, 0, 0, 0.3);
		border-left: 1px solid rgba(255, 255, 255, 0.5);

		& > *:last-child {
			padding-bottom: 15px;
		}
	}

	&__settings-close {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		background: none;
		border: none;
		color: $light;
		font-size: 18px;
		width: 100%;
		padding: 0;
		outline: none;
		cursor: pointer;

		svg {
			margin-left: 7px;
		}

		&:focus, &:hover {
			color: $accent-color;

			path {
				stroke: $accent-color
			}
		}
	}

	&__settings-title {
		font-weight: 300;
		font-size: 24px;
		margin-bottom: 12px;
		color: $light;
		margin-top: 29px;
	}

	&__back {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		transition: 0.3s;
		visibility: hidden;

		&--active {
			background: $main-text-color;
			opacity: 0.8;
			visibility: visible;
		}
	}

	&--menu-open {
		background: url(~assets/img/abb-bg-main.jpg) left top / cover no-repeat;

		.app-map {
			opacity: 0;
		}

		.static-menu {
			opacity: 0;
			visibility: hidden;
		}

		.site-menu {
			visibility: visible;
			opacity: 1;
		}

		.app__body:before {
			opacity: 0;
		}

		.app__body:after {
			opacity: 0;
		}

		.app__sidebar {
			//background: none;
		}
	}
}
