@import "../variables";

.app {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.app__sidebar {
	width: 328px;
	max-width: 25%;
	flex-grow: 1;
	padding: 20px;
	background: $linear-dark;
	background: url(~assets/img/abb-bg-main.jpg) left top / cover no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.burger {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.logo {
		margin-bottom: 45px;
	}

	.form {
		flex-grow: 1;
		margin-bottom: 30px;
	}
}

.app__body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	.header {
		position: absolute;
	}

	.app-map {
		flex-grow: 1;
	}
}