@import "../variables";
@import "../mixins";

.form {


	input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], select, textarea {
		padding: 8px 16px;
		border: none;
		font-family: 'SF Pro Display', Arial, sans-serif;
		font-size: 16px;
		color: $main-text-color;
		width: 100%;
		display: block;

		/* Prevent autofill */
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active  {
			-webkit-box-shadow: 0 0 0 30px white inset !important;
		}

		@include input-placeholder {
			font-family: 'SF Pro Display', Arial, sans-serif;
			font-size: 16px;
			letter-spacing: 0;
			color: $text-gray-color;
		}

		&:focus {
			outline: none;
		}
	}

	textarea {
		resize: vertical;
		min-height: 100px;
	}

	input[type="checkbox"], input[type="radio"] {
		display: none;
	}

	&__group {
		background: $light;
		border: 1px solid $gray-3;
		padding: 10px 0 5px;
		position: relative;

		& + .form__group {
			margin-top: -1px;
		}

		& + .form__btn {
			margin-top: -1px;
		}

		label {
			padding: 0 16px;
			font-size: 13px;
			font-weight: 400;
			color: $main-text-color;
			margin-bottom: 2px;
		}

		input[type="checkbox"] + label {
			font-size: 16px;
			font-weight: 400;
			padding: 5px 70px 9px 16px;
			display: flex;
			cursor: pointer;
			color: $main-text-color;
			text-align: left;

			.form__label-desc {
				color: $text-gray-color;
				margin-left: 5px;
				display: inline-block;
			}

			a {
				color: $main-text-color;
				text-decoration: underline;
			}

			&::before {
				content: '';
				position: absolute;
				display: inline-block;
				right: 15px;
				top: 15px;
				width: 40px;
				height: 20px;
				transform: none;
				vertical-align: middle;
				transition: 0.3s;
				background: $gray-2;
				border-radius: 15px;
			}

			&::after {
				content: '';
				position: absolute;
				display: inline-block;
				right: 36px;
				top: 16px;
				vertical-align: middle;
				width: 18px;
				height: 18px;
				transition: 0.3s;
				background: $light;
				border-radius: 15px;
			}
		}

		input[type="checkbox"]:checked + label {
			&::before {
				background: #E09049;
			}

			&::after {
				right: 16px;
			}
		}

		input[type="radio"] + label {
			position: relative;
			font-size: 14px;
			padding-left: 32px;
			margin-bottom: 10px;
			margin-top: 12px;
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				display: inline-block;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				vertical-align: middle;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				border: 1px solid $accent-color;
			}

			&::after {
				content: '';
				position: absolute;
				display: inline-block;
				left: 6px;
				top: 50%;
				vertical-align: middle;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $accent-color;
				transform: translateY(-50%) scale(0);
				transition: 0.3s;
			}
		}

		input[type="radio"]:checked + label {
			&::after {
				content: '';
				transform: translateY(-50%);
			}
		}
	}

	&__set {
		margin-bottom: 15px;
		border-radius: 6px;

		> *:first-child {
			border-radius: 6px 6px 0 0;
		}

		> *:last-child {
			border-radius: 0 0 6px 6px;
		}

		> *:only-child {
			border-radius: 6px;
		}
	}

	&__btn.btn {
		width: 100%;
		box-shadow: none;
		border: 1px solid $gray-3;

		&:hover {
			box-shadow: $pressed-btn-shadow-light;
		}
	}

	&__submit {
		width: 100%;
	}

	&__rules-agree {
		display: flex;
		justify-content: center;
		align-items: center;

		input {
			display: none;
		}
		label {
			color: $text-gray-color;
			font-size: 12px;
			font-weight: 400;
			vertical-align: middle;
			padding-top: 2px;
			position: relative;

			a {
				color: $light;
				border-bottom: 1px solid $light;

				&:hover, &:focus {
					color: $accent-color;
					border-color: $accent-color;
				}
			}

			&:before {
				content: '';
				width: 16px;
				height: 16px;
				display: inline-block;
				border-radius: 3px;
				border: 1px solid $accent-color;
				vertical-align: middle;
				margin-right: 8px;
				background: none;
				margin-top: -2px;
				cursor: pointer;
			}
		}

		input + label:after {
			content: '';
			position: absolute;
			display: block;
			background: url(~assets/img/mark-small-accent.svg) center no-repeat;
			transform: scale(0);
			transition: 0.3s;
			width: 16px;
			height: 16px;
			top: 0;
			left: 0;
		}

		input:checked + label:after {
			content: '';
			transform: scale(1);
		}

		&--white {
			label {
				color: $light;
			}
		}
	}
}
