@import "../variables";

.order-info-card {
  background: $light url("~assets/img/road-bg-accent.svg") left top / contain no-repeat;
  padding: 25px 32px;
  box-shadow: $card-shadow;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  border-radius: 6px;
}

.order-info-card__item {
  line-height: 1.6;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-info-card__value {
  color: $accent-color;
  font-weight: 700;
}
