.layout-enter-active, .layout-leave-to {
	transition: .4s;
}
.layout-enter {
	opacity: 0;
	transform: scale(1.05);
}

.layout-leave-to {
	opacity: 0;
	transform: scale(1.05);
}


.fadeToRight-enter-active, .fadeToRight-leave-to {
	transition: .5s;
}
.fadeToRight-enter {
	opacity: 0;
	height: 0;
	transform: translateX(50px);
}

.fadeToRight-leave-to {
	opacity: 0;
	height: 0;
	transform: translateX(50px);
}


.fadeToLeft-enter-active, .fadeToLeft-leave-to {
	transition: .5s;
	width: 100%;
	z-index: 1;
}
.fadeToLeft-enter {
	opacity: 0;
	transform: translateX(-30px);
	width: 0;
	z-index: -1;
}

.fadeToLeft-leave-to {
	opacity: 0;
	transform: translateX(-30px);
	z-index: -1;
}


.fadeUp-enter-active, .fadeUp-leave-to {
	transition: .5s;
}
.fadeUp-enter {
	opacity: 0;
	height: 0;
	visibility: hidden;
}

.fadeUp-leave-to {
	opacity: 0;
	height: 0;
	visibility: hidden;
}


.scale-enter-active, .scale-leave-to {
	transition: .2s;
	z-index: 1;
	transform: scale(1);
}
.scale-enter {
	opacity: 0;
	transform: scale(0);
}

.scale-leave-to {
	opacity: 0;
	transform: scale(0);
}